In [18]:
# We are extracting the closing prices for each stock listed in 'tickers', and aggregating them into a csv to be used by Parallel Stock (PS) models. 
# This serves as the extraction part of ETL. Transformation and loading are done in the model.
# You can edit the parameters below the imports to get different data as desired, just remember to change the file location if you want to keep old data.

In [19]:
import yfinance as yf
import pandas as pd

In [20]:
target_ticker = 'AMZN'  # the ticker to extract OHLCV from.
parallel_tickers = ['AAPL', 'MSFT', 'GOOGL', 'TSLA', 'NVDA', 'META', 'NFLX'] # the tickers from which we ONLY extract the target item from.
start_date = '2013-09-25'
end_date = '2023-09-25'
item_to_extract = 'Close'
file_location = 'data/ps_stock_data_' + target_ticker + '.csv'

In [21]:
df = yf.download(target_ticker, start=start_date, end=end_date)
df = pd.DataFrame(df)

[*********************100%%**********************]  1 of 1 completed

In [22]:
for t in parallel_tickers:
    t_hist = yf.download(t, start=start_date, end=end_date)
    df[t] = t_hist[item_to_extract]

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [23]:
df = df.drop(['Adj Close'], axis=1)
df = df.round(8)

In [24]:
df

,Open,High,Low,Close,Volume,AAPL,MSFT,GOOGL,TSLA,NVDA,META,NFLX
Date,,,,,,,,,,,,
2013-09-25,15.726500,15.835500,15.537500,15.632500,40172000,17.197500,32.509998,21.952703,12.349333,3.930000,49.459999,43.877144
2013-09-26,15.695000,15.968500,15.663000,15.906000,39798000,17.365000,32.770000,21.976227,12.576000,3.917500,50.389999,44.787144
2013-09-27,15.846000,15.860500,15.667500,15.800500,33150000,17.241072,33.270000,21.931683,12.726667,3.895000,51.240002,44.628571
2013-09-30,15.670500,15.765500,15.553000,15.632000,32472000,17.026787,33.279999,21.919670,12.891333,3.890000,50.230000,44.172855
2013-10-01,15.711000,16.049999,15.682500,16.047501,47928000,17.427143,33.580002,22.197197,12.866667,3.887500,50.419998,46.374287
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-18,140.479996,141.750000,139.220001,139.979996,42823500,177.970001,329.059998,138.210007,265.279999,439.660004,302.549988,394.399994
2023-09-19,138.699997,138.839996,135.559998,137.630005,61482500,179.070007,328.649994,138.039993,266.500000,435.200012,305.070007,396.200012
2023-09-20,138.550003,139.369995,135.199997,135.289993,46263700,175.490005,320.769989,133.740005,262.589996,422.390015,299.670013,386.299988
2023-09-21,131.940002,132.240005,129.309998,129.330002,70234800,173.929993,319.529999,130.440002,255.699997,410.170013,295.730011,384.149994
2023-09-22,131.110001,132.029999,128.520004,129.119995,59904300,174.789993,317.010010,130.250000,244.880005,416.100006,299.079987,379.809998

In [25]:
df.to_csv(file_location)