In [17]:
# We are extracting the closing prices for each stock listed in 'tickers', and aggregating them into a csv to be used by Parallel Stock (PS) models. 
# This serves as the extraction part of ETL. Transformation and loading are done in the model.
# You can edit the parameters below the imports to get different data as desired, just remember to change the file location if you want to keep old data.

In [18]:
import yfinance as yf
import pandas as pd

In [19]:
target_ticker = 'SPY'  # the ticker to extract OHLCV from.
parallel_tickers = ['AAPL', 'MSFT', 'GOOGL', 'TSLA', 'NVDA', 'META', 'NFLX'] # the tickers from which we ONLY extract the target item from.
start_date = '2013-10-05'
end_date = '2023-11-05'
item_to_extract = 'Close'
file_location = 'data/ps_stock_data_' + target_ticker + '.csv'

In [20]:
df = yf.download(target_ticker, start=start_date, end=end_date)
df = pd.DataFrame(df)

[*********************100%%**********************]  1 of 1 completed

In [21]:
for t in parallel_tickers:
    t_hist = yf.download(t, start=start_date, end=end_date)
    df[t] = t_hist[item_to_extract]

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [22]:
df = df.drop(['Adj Close'], axis=1)
df = df.round(8)

In [23]:
df

,Open,High,Low,Close,Volume,AAPL,MSFT,GOOGL,TSLA,NVDA,META,NFLX
Date,,,,,,,,,,,,
2013-10-07,167.419998,168.449997,167.250000,167.429993,96295000,17.419643,33.299999,21.665165,12.204667,3.897500,50.520000,45.451427
2013-10-08,167.399994,167.619995,165.360001,165.479996,178015000,17.176430,33.009998,21.363113,11.648667,3.865000,47.139999,43.188572
2013-10-09,165.800003,166.199997,164.529999,165.600006,168973000,17.378214,33.070000,21.417917,11.252000,3.805000,46.770000,41.204285
2013-10-10,167.289993,169.259995,167.229996,169.169998,195955000,17.487143,33.759998,21.727728,11.528667,3.847500,49.049999,43.427143
2013-10-11,168.910004,170.320007,168.770004,170.259995,105040000,17.600357,34.130001,21.821571,11.913333,3.815000,49.110001,42.978573
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-30,413.559998,416.679993,412.220001,415.589996,86562700,170.289993,337.309998,124.459999,197.360001,411.609985,302.660004,410.079987
2023-10-31,416.179993,418.529999,414.209991,418.200012,79665200,170.770004,338.109985,124.080002,200.839996,407.799988,301.269989,411.690002
2023-11-01,419.200012,423.500000,418.649994,422.660004,98068100,173.970001,346.070007,126.449997,205.660004,423.250000,311.850006,420.190002
2023-11-02,426.579987,430.920013,426.559998,430.760010,94938900,177.570007,348.320007,127.489998,218.509995,435.059998,310.869995,424.709991
2023-11-03,433.140015,436.290009,433.010010,434.690002,100110800,176.649994,352.799988,129.100006,219.960007,450.049988,314.600006,432.359985

In [24]:
df.to_csv(file_location)